/* task-3 */
.imge {
  width: 250px;
  height: 150px;
}

#gallery {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  padding: 20px;
}
/* task-6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
